<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">

    <!-- Vue.js 3 CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!--Animation-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!-- external CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> 

    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script> 

    <!-- File Uploader API -->
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        
    <style></style>
    
    <title>DeliveryHeroes Homepage</title>
</head>

<body onload="startTime()">

    <!-- Navigation Bar -->
    <div id="navbar">
      <navigation-bar is_home="pointer-events:none;color: #EE6F56;border-bottom:2px #EE6F56 solid;font-weight: bold;" carpark_link="carpark/carpark.html" reststop_link="rest_stop/rest_stop.html"></navigation-bar>
    </div>

    <!-- Landing Page -->
    <div class="flex flex-col md:flex-row gap-0 lg:gap-14 place-content-center items-center">
        <iframe class="h-40 md:h-64" src="https://embed.lottiefiles.com/animation/52154" ></iframe>
        <h2 class="text-xl px-14 pb-4 text-center md:text-4xl md:text-left"><br>To our delivery heroes, <br> thank you. <br><br> This one's for you. </h2>
    </div>  

    <!-- Messages + Quick Weather Updates -->
    <div id="weather" class="container mx-auto px-2 py-1 mt-3">
        <div class="justify-center p-10 md:col-span-2 rounded-lg weatherColor text-center"> 
            <h3 class="text-center text-2xl md:text-3xl p-5"> Quick Updates on the Weather Today! </h3> 
            <p class="text-center pt-0 pb-2"> View the weather two hours in advance so that you can be safe on the roads!
              <br> <span v-if="returnForecast.length > 0"> This weather forecast is accurate as of ({{ today }}), from {{ start }} to {{ end }}. </span> 
            </p>
            <!--Attribution-->
            <div class="w-11/12 mb-3 mx-auto text-xs">
              <button class="text-white text-xs font-medium underline text-center" id="open-btn" @click="show_modal">
                View API Attribution Here
              </button>
            </div>
            <div v-show ="attribute_modal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
              <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-52 text-center sm:block sm:p-0">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            
                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    
                <div class="inline-block align-bottom bg-white rounded-lg text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                          API Attribution
                        </h3>
                        <div class="mt-2">
                          <p class="text-sm text-gray-500 pr-5 overflow-auto"> {{attribution}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button @click="show_modal()" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 shareButton text-base font-medium text-black sm:ml-3 sm:w-auto sm:text-sm">
                      Okay
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Weather Forecast Validity -->

            <!-- clock -->
            <h3 id="timetext" class="text-lg tracking-wider text-3xl" style="color: #EE8B76;"></h3>

            <!-- Selection Area to see weather forecast for next 2 hours -->
            <input class='text-center shadow appearance-none py-2 px-2 mt-1 bg-white appearance-none focus:outline-none focus:shadow-outline border w-44 text-gray-700' 
                  type='text' 
                  id ='myInput' 
                  placeholder="Enter your location" 
                  v-model="area_weather" 
                  @keyup='search_bar()'  
                  @click="auto_scroll_when_search()">
            <div>
              <div v-for="area of search_results_arr" 
                v-bind:id="area" 
                class ="cursor-pointer bg-white text-black mx-auto w-44 py-2 appearance-none border-opacity-25 border-b-2 border-gray-600 hover:text-white hover:bg-red-400" 
                @click="link_to_forecast($event) ">
                {{area}}
              </div>
            </div>
            <br>

            <h3 class ="text-2xl" style="color: #EE8B76;">{{ returnForecast }}</h3>
            
            <!-- Weather Animations -->
            <div v-if="returnForecast.length > 0">
              <weather-animation
              :forecast = "returnForecast">
              </weather-animation>
            </div>
        </div>
       
    </div>


    <div class="container mx-auto px-10 mt-6">
        <div id="encourage" class="mx-auto">

            <!--Cards -->
            <h3 class="text-2xl lg:text-4xl mb-4 text-center"> Here's some words of thanks from us to you. </h3>
            <div class="flex overflow-x-scroll pb-2 lg:pb-0 custom-scrollbar" id ="cards">
                <div class="flex flex-nowrap">
                    <div v-for="entry in messages_list" class="inline-block px-3" class ="msg">
                      <encourage
                      :src = 'entry.image'
                      :entry = 'entry'>
                      </encourage>
                    </div>
                </div>
            </div>

            <div class ="mt-3 lg:mt-3 mb-2 lg:mb-6 text-center ">
              <h2 class="text-xl md:text-2xl">Want to express your thanks for our delivery riders? </h2>
              <button @click="cancel_create_message()" 
                    class="shareButton flex flex-wrap content-center m-2 rounded-md border border-transparent 
                    shadow-sm px-4 py-2 text-base font-medium text-black mx-auto 
                    focus:outline-none sm:w-auto sm:text-sm">
                Share New Message
              </button>
            </div>

            <!-- Share A Message Form  -->
            <div v-show="submit" class="fixed z-10 inset-0 overflow-y-auto " aria-labelledby="modal-title" role="dialog" aria-modal="true" style="display: block;">
                <div class="flex items-end justify-center min-h-screen px-4 pb-28 sm:pb-0 sm:block text-center sm:px-20 md:px-32 lg:px-56 xl:px-80">
          
                  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
              
                  <!-- This element is to trick the browser into centering the modal contents. -->
                  <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            
                  <div class="inline-block align-bottom bg-white rounded-lg text-left 
                      overflow-hidden shadow-xl transform transition-all 
                      sm:my-8 sm:align-middle w-full">

                    <div class="bg-white px-4 py-5 sm:p-6 sm:pb-4">
                      <div>
                        <div class="mt-3 text-left">
                          <h3 class="text-xl text-center text-gray-900" id="modal-title">
                            Share Your New Message
                          </h3>

                          <div class="mt-2 w-auto">
                            <p class="text-sm text-gray-500">
                              <br>
                              
                              <!--Messages name-->
                              <div class="col-span-6 sm:col-span-3">
                                <label for="newuser" class="block text-sm font-medium">Name</label>
                                <input type="text" 
                                    name="newuser" 
                                    id="newuser" 
                                    autocomplete="email" 
                                    placeholder="Enter a name, otherwise type in anonymous" 
                                    class="mt-1 py-2 px-1 border border-gray-500 focus:outline-none focus:ring-2 focus:ring-green-800 focus:border-transparent
                                    block w-full shadow-sm sm:text-sm rounded-md" 
                                    v-model="newuser">

                                <p v-show ="nameerror && newuser.length === 0" class="text-red-500">Name is empty!</p>
                              </div>

                              <br>

                              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                <label for="inputmessage" class="block text-sm font-medium">Message</label>
                                <textarea name="inputmessage" 
                                          id="inputmessage" 
                                          autocomplete="none" 
                                          placeholder="Write your encouraging message here..." 
                                          class="mt-1 py-2 px-1 border border-gray-500 focus:outline-none focus:ring-2 focus:ring-green-800 focus:border-transparent
                                          block w-full shadow-sm sm:text-sm rounded-md" 
                                          v-model="inputmessage"></textarea>

                                <p v-show ="messageerror && inputmessage.length === 0" class="text-red-500">Message is empty!</p>
                              </div>
                              
                              <br>

                              <!--Picture upload-->
                              <button type="button" 
                                      class="mx-auto w-full inline-flex justify-center rounded-md 
                                      border border-transparent shadow-sm px-4 py-2 shareButton
                                      text-base font-medium text-black hover:bg-green-800 focus:outline-none 
                                      sm:ml-1 sm:text-sm" 
                                      v-on:click="UploadAndReturnURL()">
                                      Upload a Picture!
                              </button>

                              <p v-show ="imageerror && image_url.length === 0" class="text-red-500">Image is empty!</p>
                              <div v-if="image_url.length > 0" class="flex justify-center pt-3">
                                  <img style="height: 125px; width: 285px;" :src="image_url" alt="">
                              </div>
                              <br v-if="image_url.length === 0">

                              <div class="py-3 mx-auto sm:flex sm:flex-row-reverse">
                                <button type="button" 
                                        class="mx-auto w-full inline-flex justify-center rounded-md 
                                        border border-transparent shadow-sm px-4 py-2  
                                        text-base font-medium text-black focus:outline-none 
                                        sm:ml-1 sm:text-sm shareButton" 
                                        v-on:click="newMessage()">
                                  Create
                                </button>
                                <button @click="cancel_create_message()" 
                                        type="button" 
                                        class="mt-3 w-full inline-flex justify-center rounded-md 
                                        border border-gray-300 shadow-sm px-4 py-2 bg-white text-base 
                                        font-medium text-gray-700 hover:bg-gray-50 focus:outline-none
                                        sm:mt-0 sm:mr-1 sm:text-sm">
                                  Cancel
                                </button>
                              </div>

                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
    <script src="carpark_functions.js"></script>
    <script src="messages.js"></script>
    <script src="weather.js"></script>
    <script src="navbar.js"></script>
</body>
</html>